header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}

body {
	margin: 0;
}

nav {
	background-color: #00a6b3;
	color: #FFFFFF;
	padding: 20px 0;
}

main {
	width: auto;
	margin: 35px auto;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 45px;
	color: #0d2c40;
	letter-spacing: 1px;
	margin: 0;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;

}

body {
	text-align: center;
}

a:link {
	text-decoration: none;
}

h1, a:link, h2, h3 {
	text-transform: uppercase;
}

.topLinks {
	font-family: Raleway;
	color: #f15b31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	padding: 15px;
}

h2, h3 {
	font-family: Raleway;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

img {
	margin: 40px 9px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
	}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: Raleway;
	float: left;
}
.message {
	font-family: Raleway;
	float: right;
}

.name {
	color: #f15b31;
	font-weight: 700;
}

a {
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}